{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}
   <h2 class="text-center col-12">Expériences professionnelles</h2>
      <section id="exp">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p>2014 : stage de 4 semaines en tant an tant que dépanneur informatique à l'Agence de Services et de Paiement (ASP).
                    Dépannage Hardware. </p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <p> 2015 : stage de 4 semaines dans la station de radio RCF
                        (réparation de patchs, utilisation de console numérique/analogique, montage son). </p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <p> 2015 : Stage de 3 semaines pour un montage vidéo au Lycée Saint-Exupery. </p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <p>  2015 : Stage de 4 semaines à Canalsup (montage vidéo).  </p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <p>  Stage de 4 semaines à l'Opéra de Limoges au sein de l'équipe lumière
                        (réparation de câbles, exploitation d'un plan de feu, installation de projecteurs pour différents spectacles).  </p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <p>  2016 : Stage de 4 semaines au café concert La Fourmi (installation d'enceintes, de matériels de capture de sons).  </p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <p>  2017 : Stage de 4 semaines à RS Event (Installations son et vidéo sur divers lieux et pour divers sujets,
                        comme des meetings politiques ou encore pour la fête de l'ENCIL).   </p>
                </div>
            </div>
        </div>
     </section>
{% endblock %}
