{% extends 'base.html.twig' %}

{% block header %}
{% endblock %}

{% block body %}

<section >
    <div class="container">
        <div class="row">
            <h2 class="text-center col-12">Projets</h2>
                <div class="col-xs-12 col-md-6">
                  <a href="#"> <img class="image" src="../img/explofiles.png" alt=""></a>
                    <p>Explofiles :</p>
                  <p>Explorateur de fichiers</p>
                </div>
                 <div class="col-xs-12 col-md-6">
                    <a  href="#"><img class="image" src="../img/axis.png" alt=""></a>
                        <p>exoWordpress :</p>
                    <p>Template à reproduire sur Wordpress</p>
                 </div>

                <div class="col-xs-12 col-md-6">
                    <a href="#"><img class="image" src="../img/blog.png" alt=""></a>
                        <p>Blog :</p>
                    <p>Blog avec une base de donnée pour pouvoir ajouter un thème,du texte, etc... </p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <a href="#"><img class="image" src="../img/transfert.jpg" alt=""></a>
                        <p>exoWetransfert</p>
                        <p>Permet de tranférer des fichiers, de l'enregistrer avec une limitation de taille de fichiers qui varie selon si on est connecté ou pas.</p>
                    <p>Utilisation d'une base de données.</p>
                </div>

                <div class="col-xs-12 col-md-6">
                    <a href="#"><img class="image" src="../img/meme.png" alt=""></a>
                        <p>MêmeGénérator</p>
                        <p>Permet de mettre une phrase comique sur une image, et de la sauvegarder.</p>
                </div>
        </div>
    </div>
</section>

{% endblock %}
